@charset "utf-8";
/* CSS 文档 */
body{ margin:0; padding:0; font-size:10pt; font-family:Verdana, Geneva, sans-serif; color:#333;background: #DFDBD0 url(../image/bg_top.gif) repeat-x;}
a{ text-decoration:none}
img{ border:none}
#main{ width:980px; margin:0 auto;}
#top{ float:left; width:100%; margin-top:10px;}
#index{ float:left; width:940px; height:39px; background:url(../image/nav_main_center.gif)}
#index_left{ float:left; width:20px; height:39px; background:url(../image/nav_main_cap_l.gif) no-repeat right}
#index_right{ float:left; width:20px; height:39px; background:url(../image/nav_main_cap_r.gif) no-repeat }
#main_left{ float:left; width:172px;padding-bottom:16px; margin-top:10px; margin-left:10px}
#m_l_t{ float:left; width:100%; padding-top:14px; background:url(../image/nav_store_top.gif) no-repeat}
#m_l_b{ float:left; width:100%; padding-bottom:14px; background:url(../image/nav_store_bot.gif) no-repeat}

#main_right{ float:right; width:776px; margin-right:8px; background:url(../image/page_top_776w.gif) no-repeat #FFF;  margin-top:10px;}
#main_bt{ float:left; width:100%; background:url(../image/page_bot_776w.gif) no-repeat; height:16px;}

#login_box{ float:left; width:80%; margin-top:40px; margin-left:15%;}
#i_line{ float:left; width:100%; overflow:hidden; padding-bottom:3px}
#i_title{ float:left; height:30px; line-height:30px; width:15%; font-size:10pt; font-weight:bold; padding-right:8px; text-align:right; overflow:hidden; color:#999}
#i_tt{ float:left; width:80%;}
#i_help{ float:left; width:100%; height:20px; line-height:20px; color:#F90}
.i_input{ float:left; height:22px; line-height:22px; border:#CCC 1px solid; padding-left:5px; font-size:10pt;}
.i_html{ float:left; height:22px; line-height:22px; border:#CCC 1px solid; padding-left:5px; font-size:10pt; cursor:pointer; color:#333}
#preg_box{ float:left; width:100%; margin-top:10px;}
#page_info{ float:left; width:100%; padding-bottom:8px;}
#page_info a{ float:left;line-height:22px; color:#999; width:98%; margin-left:2%}
#page_info span{ color:#09C}
#page_info b{ float:left; height:22px; color:#999; width:98%; margin-left:2%; font-size:10pt;}
.i_textarea{ float:left; width:95%; border:#CCC 1px solid}
.i_bt{ float:left; height:28px; line-height:28px; font-size:1.1em;margin-left:10px;cursor:pointer; background:url(../image/bt.gif) center; color:#FFF; margin-top:3px; width:100px; border:none}

#preg_list{ float:left; width:98%; font-size:10pt; margin-left:1%;}
#preg_go{float:left; width:98%; font-size:10pt; margin-left:1%; line-height:25px}
.preg_l{ float:left; width:100%;height:28px; line-height:28px; border-bottom:#CCC 1px dotted; padding-bottom:3px; padding-top:3px; cursor:pointer}
#preg_list a{ float:left; height:28px; line-height:28px; padding-left:8px; color:#333; overflow:hidden}
#preg_list img{ float:left; width:24px; height:24px}
#preg_list a:hover{ color:#F60}
#preg_list span{ float:right; height:28px; line-height:28px; padding-left:8px; cursor:pointer;}

#index_bt{ float:left; width:100%; height:24px;}
#index_b_l{ float:left; background:url(../image/nav_2nd_l.gif) no-repeat; width:18px; height:24px; margin-left:2px}
#index_b_c{ float:left; background:url(../image/nav_2nd_center.gif); height:24px; width:940px;}
#index_b_r{ float:left; background:url(../image/nav_2nd_r.gif) no-repeat; width:18px; height:24px;}
#home{ float:left; height:38px; background:url(../image/home.gif) no-repeat center; width:50px; cursor:pointer}
.index_a{ float:left; height:39px; line-height:38px; color:#FFF; font-weight:bold;padding-right:8px; font-size:10pt; padding-left:3px}
#index_b_c a{ float:left; height:22px; line-height:22px; padding-left:8px; color:#09F;}
#index_b_c span{ float:left; height:22px; line-height:22px; padding-left:8px; color:#09F; font-size:9pt}
#index_search{ float:right; height:20px; width:200px; margin-top:10px}
#index_search div{ float:left; height:20px; line-height:20px; background:url(../image/search_left.gif) no-repeat; width:9px; overflow:hidden}
#index_search input{ float:left; height:16px; line-height:16px; width:120px; border:none; background:url(../image/search_mid.gif)}
#index_search a{ float:left; height:20px; background:url(../image/search_btn_3.gif) no-repeat; width:45px; cursor:pointer}
#index_search a:hover{background:url(../image/search_btn_3.gif) no-repeat bottom;}


.l_a{ float:left; height:32px; background:#B4AC98 url(../image/nav_store_item.gif); width:162px; color:#FFF; font-size:10pt; line-height:32px;border-bottom: 1px solid #A09881;border-top: 1px solid #CEC9BC; padding-left:10px; overflow:hidden; cursor:pointer}
#l_list{ float:left; width:100%;}
#l_list a{ float:left;background-color: #A7A08F;color: white; height:32px; padding-left:10px; overflow:hidden; cursor:pointer; width:162px; line-height:32px; font-size:10pt;border-bottom: 1px solid #A09881;border-top: 1px solid #CEC9BC; }
#l_list a:hover{ background:url(../image/nav_store_current.gif)}
.l_down{ background:url(../image/nav_store_more.gif) no-repeat center; height:32px; width:32px; float:right;}
#help_info{ float:left; width:98%; margin-left:1%}

#ids{ float:left; margin-top:9px}
#err{ color:#cc0000}
#preg_class{ float:left; width:98%; margin-left:1%}
#preg_class a{ float:left; border:#ccc 1px solid; height:25px; line-height:25px; padding-left:10px; padding-right:10px; color:#333; font-size:12pt; margin-left:8px; margin-bottom:5px; cursor:pointer}
#preg_class span{ color:#09F}
#l_title{ float:left; width:100%; height:30px; line-height:30px; border-bottom:#CCC 1px solid; margin-bottom:5px; background:url(../image/nav_main_center.gif) center}
#l_title b{ float:left; height:30px; line-height:30px; font-size:12pt; color:#FFF; margin-left:10px}
#preg_read{ float:left; width:100%; line-height:20px; border-bottom:#CCC 1px solid; padding-bottom:5px}
#preg_read div{ float:left; width:100%;}
#preg_read img{ float:left; margin-left:5px}
#preg_read a{ border:none; width:100%}

#top_i{ float:left; margin-left:20px; width:400px}
#top_i a{ float:left; height:50px; line-height:55px; font-size:36pt; font-weight:bold; color:#06F}
#top_i span{ float:left;line-height:20px; color:#999; font-size:14pt; margin-top:8px; font-weight:bold; margin-left:3px;}
#top_i b{ color:#090;}

.form{ background:#E6F2F6}
#page{ float:left; width:98%; margin-top:10px}
#go_info{ float:left; width:100%; color:#09F; line-height:20px; height:auto; overflow:hidden}
#preg_go a{ color:#F60}
#line{ float:left; width:100%;}
#i_list{ float:left; width:48%;}
#bottom{ float:left; width:100%; height:100px; background:url(../image/bg_footer.gif); padding-bottom:10px}
#b_box{ margin:0 auto; width:980px; margin-top:10px;}
#b_box div{ float:left; width:100%; text-align:center;margin-top:5px}
#b_box a,#b_box span{ color:#FFF; padding-left:5px; }
