<extend name="base" />
<block name="content">
    <block name="content">
        <div id="content" class="col-lg-10 col-sm-10">
            <div>
                <ul class="breadcrumb">
                    <li>
                        <a href="#">首页</a>
                    </li>
                    <li>
                        <a href="#">身份证查询</a>
                    </li>
                </ul>
            </div>
            <div class="center-block"  style=" margin-top: 300px; margin-left: 300px;">
                <form class="form-inline" id="id_search_form">
                    <div class="form-group">                            
                        <label for="id">身份证号：</label>                                                           
                        <input type="text" class="form-control" id="id" placeholder="身份证号">                         
                    </div>
                    <button type="submit" class="btn btn-primary">查询</button>
                </form>
                <div id="id_search_result" class="center-block">

                </div>
            </div>
            <div/>
    </block>
    <block name="script">
        <script type="text/javascript">
            $(document).ready(function () {
                //快递单号查询
                $('#id_search_form').submit(function () {
                    var id = $('#id').val();
                    if (id == '') {
                        art.dialog({content: '请输入身份证号！'});
                        return false;
                    }
                    $.getJSON('{:U("/Home/Index/search_id")}', {id: id}, function (data) {
                        if (data.errNum != 0) {
                            $('#id_search_result').html(data.retMsg);
                            return;
                        }
                        var result = data.retData;
                        switch (result.sex) {
                            case 'M':
                                sex = '男';
                                break;
                            case 'F':
                                sex = '女';
                                break;
                            case 'N':
                                sex = '未知';
                                break;
                            default:
                                sex = '未知';
                                break;
                        }
                        var html = '<ul><li>性别：' + sex + '</li><li>出生日期：' + result.birthday + '</li><li>住址：' + result.address + '</li></ul>';
                        $('#id_search_result').html(html);
                    });
                    return false;
                });
            });
        </script>
    </block>