<extend name="base" />
<block name="content">
    <div class="center-block" style=" margin-top: 300px; margin-left: 300px;">
        <div class="col-lg-6">                        
            <div class="input-group">
                <div class="input-group-btn">
                    <select class="form-control" style="width:100px;">
                        <option value="baidu">百度</option>
                        <option value="google">Google</option>
                    </select>
                </div><!-- /btn-group -->
                <input type="text" class="form-control" aria-label="...">
                <span class="input-group-btn"><button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span>搜 索</button></span>
            </div><!-- /input-group -->                                                  
        </div>                                  
    </div>
</block>
