<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <title>think tools</title>
        <meta charset="UTF-8">
        <!--在移动设备浏览器上，通过为视口（viewport）设置 meta 属性为 user-scalable=no 可以禁用其缩放（zooming）功能
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="__PUBLIC__/css/skins/chrome.css" rel="stylesheet" type="text/css" />
        <link href="__PUBLIC__/css/bootstrap.css" rel="stylesheet" type="text/css" />
        <link href="__PUBLIC__/css/bootstrap-theme.css" rel="stylesheet" type="text/css" />
        <link href="__PUBLIC__/css/index.css" rel="stylesheet" type="text/css" />
        <script type="text/javascript" src="__PUBLIC__/js/jquery-1.10.2.min.js"></script>
        <script type="text/javascript" src="__PUBLIC__/js/bootstrap.js"></script>
        <script type="text/javascript" src="__PUBLIC__/js/artDialog.js"></script>        
    </head>
    <body>
        <!-- .container类用于固定宽度并支持响应式布局的容器
             .container-fluid 类用于 100% 宽度，占据全部视口（viewport）的容器
        -->
        <div class="container">
            <!-- Nav tabs -->
            <nav class="navbar navbar-default">
                <ul class="nav nav-pills" role="tablist">
                    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">首页</a></li>
                    <li role="presentation" class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-haspopup="true" aria-expanded="false" role="buuton">生活类<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#delivery" aria-controls="delivery" role="tab" data-toggle="tab">快递</a></li>
                        </ul>
                    </li>
                    <!--<li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Messages</a></li>
                    <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>-->
                </ul>
            </nav>
            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="home">
                    <div class="col-lg-6" style=" margin-top: 300px; margin-left: 300px;">                        
                            <div class="input-group">
                                <div class="input-group-btn">
                                    <select class="form-control" style="width:100px;">
                                        <option value="baidu">百度</option>
                                        <option value="google">Google</option>
                                    </select>
                                </div><!-- /btn-group -->
                                <input type="text" class="form-control" aria-label="...">
                                <span class="input-group-btn"><button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span>搜 索</button></span>
                            </div><!-- /input-group -->                                                  
                    </div>                                  
                </div>
                <div role="tabpanel" class="tab-pane" id="delivery">
                    <form class="form-inline" id="delivery_search_form">
                        <div class="form-group">                            
                            <label for="postid">快递单号：</label>                                                           
                            <input type="text" class="form-control" id="postid" placeholder="快递单号">                         
                        </div>
                        <button type="submit" class="btn btn-primary">查询</button>
                    </form>
                    <div id="delivery_search_result">

                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="messages">mess.</div>
                <div role="tabpanel" class="tab-pane" id="settings">set</div>
            </div>
        </div>
    </body>
    <script type="text/javascript">
        $(document).ready(function () {
            //快递单号查询
            $('#delivery_search_form').submit(function () {
                var postid = $('#postid').val();
                if (postid == '') {
                    art.dialog({content: '请输入快递单号！'});
                    return false;
                }                
                $.getJSON('{:U("/Home/Index/seach_delivery")}', {postid: postid}, function (data) {
                    if(data == ''){                        
                        $('#delivery_search_result').html('抱歉，没有查到相关数据！');
                        return;
                    }
                    var $obj = $(data);                    
                    $obj.find('li.firstChild').children().first().remove();
                    $('#delivery_search_result').html($obj);
                    $('[data-toggle="tooltip"]').tooltip()
                });
                return false;
            });
        });
    </script>
</html>
