<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <title>bootstrap demo</title>
        <meta charset="UTF-8">
        <!--在移动设备浏览器上，通过为视口（viewport）设置 meta 属性为 user-scalable=no 可以禁用其缩放（zooming）功能
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="__PUBLIC__/css/bootstrap.css" rel="stylesheet" type="text/css" />
        <link href="__PUBLIC__/css/bootstrap-theme.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <!-- .container类用于固定宽度并支持响应式布局的容器
             .container-fluid 类用于 100% 宽度，占据全部视口（viewport）的容器
        -->
        <div class="container">
            <h1>h1. Bootstrap heading <small>Secondary text</small></h1>
            <h2>h2. Bootstrap heading <small>Secondary text</small></h2>
            <h3>h3. Bootstrap heading <small>Secondary text</small></h3>
            <h4>h4. Bootstrap heading <small>Secondary text</small></h4>
            <h5>h5. Bootstrap heading <small>Secondary text</small></h5>
            <h6>h6. Bootstrap heading <small>Secondary text</small></h6>
            <p class="lead">Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, 
                nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.</p>
            <p>Cum sociis natoque penatibus et magnis dis parturient montes, <ins>This line of text is meant to be treated as an addition to the document.</ins>
            <u>This line of text will render as underlined</u>,nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec ullamcorper nulla non metus auctor fringilla.</p>
        <p><strong>rendered as bold text</strong>Maecenas sed diam eget risus varius blandit sit amet non magna. <s>This line of text is meant to be treated as no longer accurate.</s>
        Donec id elit non mi porta gravida at eget metus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
    <p><em>rendered as italicized text</em> You can use the mark tag to <mark>highlight</mark> text.<del>This line of text is meant to be treated as deleted text.</del></p>
    <p class="text-left">Left aligned text.</p>
    <p class="text-center">Center aligned text.</p>
    <p class="text-right">Right aligned text.</p>
    <p class="text-justify">Justified text.</p>
    <p class="text-nowrap">No wrap text.</p>
</div>
</body>
</html>
